<h1>Dashboard</h1>

<% if Current.user %>
  Logged in as: <%=Current.user.email%><br>
  
  <%= button_to "Sign Out", logout_path,  method: :delete %>

  <h1>Change information</h1>

  <%= form_with model: @user, url:'/change_user_infor' do |f|  %>

    <%= f.label :first_name %>
    <%= f.text_field :old_name %> </br>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %> </br>

    <%= f.label :password %>
    <%= f.password_field :password %> </br>

    <%= f.submit "Change" %>

  <% end %>

  <h1>Change password</h1>

  <% flash.each do |name, msg|%>
    <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%= msg %>
    </div>
  <% end %>

  <%= form_with model: @user, url:'/change_user_password' do |f|  %>

    <%= f.label :old_password %>
    <%= f.password_field :old_password %> </br>

    <%= f.label :new_password %>
    <%= f.password_field :new_password %> </br>

    <%= f.label :new_password_confirmation %>
    <%= f.password_field :new_password_confirmation %> </br>

    <%= f.submit "Change" %>

  <% end %>
  <% flash.each do |name, msg|%>
    <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%= msg %>
    </div>
  <% end %>

<% else %>
  Something went wrong. Please sign in again.
  <%= link_to "Sign up", '/login' %>
  <%= link_to "Sign in", '/register' %>
<% end %>
