<% if Current.user %>
<nav class="navbar navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">AI Story Telling</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-start">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Voices</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Account</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
    <div class="row m-2">
      <div class="col-md-4 col-12 p-2">
        <div class="card p-2 h-100">
          <h2 class="card-title">Voices</h2>
          <% if @voice_status %>
            <div class="alert alert-primary">Voice: Recorded</div>
          <% else %>
            <div class="alert alert-warning">Voice: Not recorded.</div>
          <% end %>
          <p>Record your voice here blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>          
          <% if @voice_status %>
            <%= link_to "Delete", record_path, method: :delete, class: "btn btn-danger" %>
          <% else %>
            <%= link_to "Record", record_path, method: :get, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
      <!--
      <div class="col-md-4 p-2">
        <div class="card p-2 h-100">
          <h2 class="card-title">Stories</h2>
            <div class="alert alert-primary">You have created 2 stories.</div>
          <p>Read story here blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
          <a href="#" class="btn btn-primary">Create Stories</a>
        </div>
      </div>
      -->
      <div class="col-md-8 col-12 p-2">
        <div class="card p-2 h-100">
          <h2 class="card-title">Account</h2>
            <div class="row m-2">
              <div class="col-6">
                <h3>Change information</h3>

                  <%= form_with model: @user, url:'/change_user_infor' do |d|  %>

                    <!-- <%= d.label :first_name %> -->
                    <%= d.text_field :first_name, :value => Current.user.firstname, class: "form-control m-1 w-75", placeholder: "First name" %>

                    <!-- <%= d.label :last_name %> -->
                    <%= d.text_field :last_name, :value => Current.user.lastname, class: "form-control m-1 w-75", placeholder: "Last name" %>

                    <!-- <%= d.label :password %> -->
                    <%= d.password_field :password, class: "form-control m-1 w-75", placeholder: "Password confirmation" %> </br>

                    <%= d.submit "Change", class: "btn btn-success mx-1" %>

                  <% end %>
                </div>
                <div class="col-6">
                  <h3>Change password</h3>
                  <%= form_with model: @user, url:'/change_user_password' do |f|  %>

                    <!-- <%= f.label :old_password %> -->
                    <%= f.password_field :old_password, class: "form-control m-1 w-75", placeholder: "Old password" %>

                    <!-- <%= f.label :new_password %> -->
                    <%= f.password_field :new_password, class: "form-control m-1 w-75", placeholder: "New password" %>

                    <!-- <%= f.label :new_password_confirmation %> -->
                    <%= f.password_field :new_password_confirmation, class: "form-control m-1 w-75", placeholder: "New password confirmation" %> </br>

                    <%= f.submit "Change",class: "btn btn-success" %>

                  <% end %>
                  <% flash.each do |name, msg|%>
                    <div class="alert">
                      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>

                      <%=  msg %>

                    </div>
                  <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

  <%= button_to "Sign Out", logout_path,  method: :delete, class: "btn btn-danger" %>
<!--
<h1>Dashboard</h1>

  <div class="alert alert-info m-3">Logged in as: <%=Current.user.email%></div>
  <div class="alert alert-success m-3">Welcome <%=Current.user.firstname%> <%=Current.user.lastname%></div>

  <% if @voice_status %>
    <div class="alert alert-primary m-3">Voice status: Recorded</div>
    <%= button_to "Delete", record_path, method: :delete, class: "btn btn-warning" %>
  <% else %>
    <div class="alert alert-warning m-3">Voice status: Not ecorded</div>
    <%= button_to "Record", record_path, method: :get, class: "btn btn-primary" %>
  <% end %>

  <%= button_to "Sign Out", logout_path,  method: :delete, class: "btn btn-danger" %>

  -->
<% else %>
  Something went wrong. Please sign in again.
  <%= button_to "Sign Out", logout_path,  method: :delete %>
<% end %>
