<h1>Dashboard</h1>

<% if Current.user %>
  Logged in as: <%= Current.user.email %><br>
  <% if @voice_status %>
    Voice status: <%= @voice_status %>
  <% end %>
  <%= button_to "Sign Out", logout_path,  method: :delete %>
<% else %>
  Something went wrong. Please sign in again.
  <%= link_to "Sign up", login_path %>
  <%= link_to "Sign in", register_path %>
<% end %>
