<nav class="navbar navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">AI Story Telling</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-start">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Voices</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Account</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

      <h1 class="display-1 text-center">Your Voice</h1>

        <div class="container-fluid">
          <div class="row justify-content-center">
          <% for i in 1..@sentences.length do %>
            <div class="col-md-5 col-12 p-2 text-center">
              <div class="card p-2">
              <%= content_tag :tr, class: "sentence", data: {index: i - 1, content: @sentences[i - 1]} do %>
                <h2 class="display-5 sentence-index">
                  Sentence <%= i %>
                </h2>
                <p>
                  Status: <span class="status">not recorded</span>
                </p>
                  <button class="record-button btn btn-primary">
                    Record
                  </button>
                <td class="recorded-audio">
                </td>
              <% end %>
              </div>
            </div>
          <% end %>
          </div>
      </div>

      <%= form_with url: record_path do |f| %>
        <%= f.file_field :voice, hidden: true %>
        <%= f.submit "Submit", id: 'submit', disabled: true, class: 'btn btn-success' %>
      <% end %>

      <%= link_to "Back", dashboard_path, class: 'btn btn-primary' %>

      <%= javascript_include_tag :recorder %>

