<h1>Login</h1>

<%= form_with url: '/login' do |f| %>
  <%= f.label :Email %>
  <%= f.text_field :email %>

  <%= f.label :Password %>
  <%= f.password_field :password %>

  <%= f.submit "Sign in" %>
<% end %>

Don't have an account, <%= link_to "Register", '/register' %>.
