<h1>Register</h1>

<%= form_with model: @user, url: register_path do |f|  %>
    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "Sign Up" %>
<% end %>

Already have an account, <%= link_to 'Login', login_path %>