<%= form_with model: @user, url: register_path do |f|  %>
    <div class="card d-flex m-auto w-75">
        <h1 class="card-title m-auto">Register</h1>
        <div class="row px-3">
            <div class="col-6 my-2">
                <%= f.label :firstname, class: "form-label" %>
                <%= f.text_field :firstname, class: "form-control" %>
            </div>
            <div class="col-6 my-2">
                <%= f.label :lastname, class: "form-label" %>
                <%= f.text_field :lastname, class: "form-control" %>
            </div>
        </div>
        <div class="row px-3">
            <div class="col-12 mb-2">
                <%= f.label :email, class: "form-label" %>
                <%= f.text_field :email, class: "form-control" %>
            </div>
        </div>
        <div class="row px-3">
            <div class="col-6 mb-2">
                <%= f.label :password, class: "form-label" %>
                <%= f.password_field :password, class: "form-control" %>
            </div>
            <div class="col-6 mb-2">
                <%= f.label :password_confirmation, class: "form-label" %>
                <%= f.password_field :password_confirmation, class: "form-control" %>
            </div>
        </div>
        <div class="row px-3">
            <div class="col-12 my-2">
                <%= f.submit "Sign Up", class: "btn btn-primary" %>
            </div>
        </div>
        <div class="row px-3">
            <div class="col-12 mb-2">
                Already have an account, <%= link_to 'Login', login_path %>
            </div>
        </div>
    </div> 

<% end %>

