<h1>Reader#index</h1>
<section>
  <ul>
    <% @stories.each do | key, story | %>
      <li>
        <%= link_to "#{story['title']}", "/read/#{key}" %>
        <%= "(#{story['status']})" %>
      </li>
    <% end %>
  </ul>
</section>
<section>
  <h3><%= @title %></h3>
  <p><%= @content %></p>
  <% if @status == "synthesized" %>
    <%= audio_tag "/read/#{@id}/audio.wav", :controls => true %>
    <%= button_to "Delete", "/read/#{@id}", method: :delete %> 
  <% elsif @status == "synthesizing" %>
    <p>Please wait while your story is being synthesized.</p>
  <% else %>
    <%= button_to "Synthesize", "/read/#{@id}" %>
  <% end %>
<section>
